<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid ">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= cl_image_tag "0bezqozwrdf7c06x90v4fwpvl67a", fetch_format: :auto, quality: "auto", style: "border-radius: 50%;" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <h1>Craftnest</h1>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <% if user_signed_in? %>

          </li>
          <li class="nav-item dropdown ms-auto">
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <% if current_user.profile_pic.attached? %>
            <%= cl_image_tag current_user.profile_pic.key, crop: "fill", fetch_format: "auto", class: "avatar", alt: "dropdown menu" %>
          <% else %>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar", alt: "dropdown menu" %>
         <% end %>
          </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Accueil", root_path, class: "dropdown-item" %>
              <%= link_to "Ateliers", ateliers_path, class: "dropdown-item" %>
              <%= link_to "Profil", user_profile_path, class: "dropdown-item" %>
              <%= link_to "Se déconnecter", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Se connecter", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
</div>
