<div class="banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('<%= cl_image_path @reservation.atelier.photo.key, fetch_format: :auto, quality: "auto" %>'); position: relative; margin-top: 5rem !important;">
  <div class="container h-100 ">
 <div class="container d-flex justify-content-center">
    <h1 class="banner-title text-start pt-5 mt-5" style="font-size: 52px;"><%= @reservation.atelier.name %></h1>
  </div>

  <!-- Conteneur Bootstrap pour la description au centre de la bannière -->
  <div class="container h-100 d-flex flex-column justify-content-center">
    <div class="mt-auto mb-auto"> <!-- Ceci pousse la description vers le centre -->
      <p class="banner-description text-center" style="font-size: 20px;"><strong><%= @reservation.atelier.description %></strong></p>
    </div>
  </div>

      <div class="d-flex align-items-center position-absolute bottom-0 start-0 m-3">
      <div class="me-2">
          <p class="m-0"> Proposé par <%= @reservation.atelier.user.username %>  </p>
      </div>
      <div>
          <% if @reservation.atelier.user.profile_pic.attached? %>
            <%= cl_image_tag @reservation.atelier.user.profile_pic.key, crop: "fill", fetch_format: "auto", class: "card-trip-user avatar-bordered" %>
          <% else %>
            <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
          <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container my-3">
  <h1>Vous trouverez ici les détails de votre réservation: </h1>
  <div class="my-3">
    <h4>Vous avez réservé l'atelier <%= @reservation.atelier.name %> de <%= @reservation.atelier.category %> appartenant à <%= @reservation.atelier.user.username %> </h4>
    <h4>Situé à <strong><%= @reservation.atelier.location %></strong></h4>
    <h4>Avec un prix de <strong><%= @reservation.atelier.price %></strong> €/jour</h4>
    <h4>Du <%= @reservation.start_date %> au <%= @reservation.end_date%> soit <strong><%= ( @reservation.end_date -  @reservation.start_date).to_i %> jours</strong> </h4>
    <h4>Ce qui vous fait un total de <strong><%= @reservation.atelier.price * ( @reservation.end_date -  @reservation.start_date).to_i %> €</strong></h4>
  </div>
</div>

  <div class="container">
    <div class="d-flex justify-content-center align-items-center">
      <% @reviews.each do |review| %>
        <% if review.reservation_id == @reservation.id %>
          <h3>De : <%= review.user.username %> - <span style="color: #F7E62B;"><%= review.rating %> <i class="fa-solid fa-star"></i></span></h3>
          <h4><%= review.content %></h4>
          <hr>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <% if (@reservation.end_date - Date.today).to_i < 0 %>
    <hr>
      <h2>Votre réservation est terminée, n'hésitez pas à nous donner votre avis sur l'atelier de <%= @reservation.atelier.user.username %></h2>
      <%= simple_form_for [@reservation, @review] do |f| %>
        <%= f.input :rating %>
        <%= f.input :content %>
        <%= f.button :submit %>
      <% end %>
      <% else %>
        <%= link_to "Annuler votre réservation ", reservation_path(@reservation), data: {turbo_method: :delete, turbo_confirm: "Êtes vous sûr ?"}, class: "btn btn-danger text-center mb-5" %>
    <% end %>
  </div>
</div>
