
<div class="container">
  <h1>ATELIER <%= @atelier.name %></h1>

  <h2> propriétaire : <%= @atelier.user.username %></h2>
  <h2> prix : <%= @atelier.price %></h2>
  <h2> lieu : <%= @atelier.location %></h2>
  <h2> categorie : <%= @atelier.category %></h2>

  <%= cl_image_tag @atelier.photo.key, height: 300, width: 400, crop: :fill %>

  <%= link_to "return to ateliers", ateliers_path %>
  <%= link_to "edit this atelier", edit_atelier_path(@atelier) %>
    <%= link_to "remove this atelier", atelier_path(@atelier), data: {turbo_method: :delete, turbo_confirm: "Confirm?"} %>

  <hr>

  <div data-controller="toggle-reservations" class="mt-5">
    <button data-action="click->toggle-reservations#fire" class="btn btn-outline-primary">Ajouter réservation</button>

    <div data-toggle-reservations-target="togglableElement" class= "new-reservation d-none">
      <h1>Faire une nouvelle réservation</h1>
      <%= simple_form_for [@atelier, @reservation] do |f| %>
        <%= f.input :start_date,
                as: :string,
                input_html: { data: { controller: "datepicker" } } %>
        <%= f.input :end_date,
                as: :string,
                input_html: { data: { controller: "datepicker" } } %>
        <%= f.button :submit %>
      <% end %>
    </div>
  </div>


</div>

<hr>
<div class="container">

<% @atelier.reservations.each do |resa| %>
  <% if current_user.id == resa.user_id && resa.atelier_id == @atelier.id %>
    <h3>You have a reservation for this atelier</h3>
    <h4>reservation begins in <%= (resa.start_date - Date.today).to_i %> days</h4>
    <h4>and lasts for <%= (resa.end_date - resa.start_date).to_i %> days</h4>
    <%= link_to "Supprimer la réservation ", reservation_path(resa.id), data: {turbo_method: :delete, turbo_confirm: "Confirm?"} %>
    <%= link_to "more details on this reservation", reservation_path(resa) %>
    <hr>
  <% end %>
<% end %>
</div>
<hr>
