
<div class="container">
  <h1>ATELIER <%= @atelier.name %></h1>

  <h2> propriétaire : <%= @atelier.user.username %></h2>
  <h2> prix : <%= @atelier.price %></h2>
  <h2> lieu : <%= @atelier.location %></h2>
  <h2> categorie : <%= @atelier.category %></h2>

  <%= cl_image_tag @atelier.photo.key, height: 300, width: 400, crop: :fill %>
  <p><%= @atelier.description %></p>

<hr>
  <%= link_to "Retour aux ateliers", ateliers_path, class: "btn btn-primary" %>
  <hr>

  <% if current_user == @atelier.user %>
    <h4>C'est votre atelier, souhaitez-vous en changer les informations ?</h4>
    <%= link_to "Changer les informations de l'atelier", edit_atelier_path(@atelier), class: "btn btn-warning" %>
    <%= link_to "Supprimer cet atelier", atelier_path(@atelier), data: {turbo_method: :delete, turbo_confirm: "Êtes vous sûr ?"}, class: "btn btn-danger" %>
  <% else %>
    <div data-controller="toggle-reservations" class="mt-5">
      <button data-action="click->toggle-reservations#fire" class="btn btn-outline-primary">Faire une réservation</button>
      <div data-toggle-reservations-target="togglableElement" class= "new-reservation d-none">
        <h1>Faire une nouvelle réservation</h1>
        <%= simple_form_for [@atelier, @reservation] do |f| %>
          <%= f.input :start_date,
                  as: :string,
                  input_html: { data: { controller: "datepicker" } } %>
          <%= f.input :end_date,
                  as: :string,
                  input_html: { data: { controller: "datepicker" } } %>
          <%= f.submit "Réservez !", class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
<% end %>

</div>

<hr>
<div class="container">
  <% @atelier.reservations.each do |resa| %>
    <% if current_user.id == resa.user_id && resa.atelier_id == @atelier.id %>
      <h3>Vous avez une réservation pour cet atelier</h3>
      <h4>La réservation commence dans <%= (resa.start_date - Date.today).to_i %> jours</h4>
      <h4>et dure <%= (resa.end_date - resa.start_date).to_i %> jours</h4>

      <%= link_to "Supprimer la réservation ", reservation_path(resa.id), data: {turbo_method: :delete, turbo_confirm: "Êtes vous sûr ?"} %>
      <%= link_to "Voir détails", reservation_path(resa) %>
      <hr>
    <% end %>
  <% end %>
</div>
